@{
    ViewBag.Title = "Accueil";
}

<div class="row">
    <img src="~/Content/Images/logo.png" />
</div>

<div class="row">
    @if (!User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Se connecter", "Login", "Account")
    }
</div>